html{
    width:100%;
    background-color: white;
}
body{
    text-align: center;
    width: 80%;
    height:100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
p {
    font-size: x-large;
    
    color: blue;
    font-family: 'Roboto', sans-serif;
}
.q1{
    font-size: x-large;
    font-family: cursive;
    color: green;
    
}
div{
    margin-left:1%;
    text-align: left;
    border-radius: 2px;
    box-shadow:0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}


